<template>
  <VDialog v-model="dialogIsOpen" width="680">
    <template #activator="{ on, attrs }">
      <slot name="activator" :on="on" :attrs="attrs" />
    </template>

    <VCard>
      <VCardTitle>Добавить список покупок</VCardTitle>

      <VCardText>
        <VTextField v-model="name" outlined label="Название">
          <template #append>
            <VIcon :color="iconColor" @click="voiceEnter">mdi-microphone</VIcon>
          </template>
        </VTextField>
        <v-row v-if="extended" dense>
          <v-col>
            <VTextField class="mr-2" v-model="count" outlined label="Количество"></VTextField>
          </v-col>
          <v-col cols="5" sm="2">
            <v-select class="" v-model="metric" :items="metricVariant" label="ед. изм" outlined></v-select>
          </v-col>
        </v-row>
      </VCardText>

      <VCardActions>
        <VBtn block color="primary" @click="add">добавить</VBtn>
      </VCardActions>
    </VCard>
  </VDialog>
</template>

<script>
export default {
  name: 'AddShoppingItemModal',
  props: {
    extended: { type: Boolean, default: false },
  },

  data() {
    return {
      name: '',
      speechIsActive: false,
      dialogIsOpen: false,
      count: '',
      metric: '',
      metricVariant: ['шт', 'кг', 'л'],
    };
  },

  computed: {
    iconColor() {
      return this.speechIsActive ? 'primary' : undefined;
    },
  },

  beforeDestroy() {
    this.abortVoice();
  },

  watch: {
    dialogIsOpen: {
      handler(value) {
        if (!value) {
          this.abortVoice();
        }
      },
    },
  },

  methods: {
    add() {
      this.$emit('add', { name: this.name, count: this.count, metric: this.metric });
      this.dialogIsOpen = false;
      this.name = '';
      this.count = '';
      this.metric = '';
    },

    abortVoice() {
      this.$options.recognition?.abort();
      this.speechIsActive = false;
    },

    voiceEnter() {
      if (this.speechIsActive) {
        this.abortVoice();
        return;
      }

      if (!this.$options.recognition) {
        const SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
        this.$options.recognition = new SpeechRecognition();

        this.$options.recognition.interimResults = true;

        this.$options.recognition.addEventListener('audiostart', (e) => {
          this.speechIsActive = true;
        });

        this.$options.recognition.addEventListener('result', (e) => {
          this.name = e.results[0][0].transcript;
        });

        this.$options.recognition.addEventListener('audioend', () => {
          this.speechIsActive = false;
        });
      }

      this.$options.recognition.start();

      return;
    },
  },

  recognition: null,
};
</script>
