<template>
  <AddShoppingItemModal :extended="extended" @add="add">
    <template #activator="{ on, attrs }">
      <slot name="activator" :on="on" :attrs="attrs">
        <VBtn
          fab
          large
          right
          fixed
          bottom
          width="44"
          height="44"
          color="primary"
          class="add-shopping-item__button"
          v-bind="attrs"
          v-on="on"
        >
          <VIcon dense color="white">mdi-plus</VIcon>
        </VBtn>
      </slot>
    </template>
  </AddShoppingItemModal>
</template>

<script>
import AddShoppingItemModal from './AddShoppingItemModal.vue';

export default {
  name: 'AddShoppingItem',

  components: { AddShoppingItemModal },
  props: {
    extended: { type: Boolean, default: false },
  },

  methods: {
    add(name) {
      this.$emit('add', name);
    },
  },
};
</script>

<style lang="scss">
.add-shopping-item {
  &__button {
    bottom: 73px !important;
    right: 35px !important;
  }
}
</style>
