// fonts
$--font-family: Avenir, Helvetica, Arial, sans-serif;
$--font-weight-bold: 700;
$--font-weight-medium: 500;
$--font-weight-normal: 400;
$--font-weight-thin: 200;
$--font-size-small: 10px;
$--font-size-base: 12px;
$--font-size-title: 20px;
$--font-size-subtitle: 14px;

// color
$--color-grey: rgba(0, 0, 0, 0.6);
$--color-white: #fff;
$--layout-background: #f1f1f1;
$--color-blue: #1867c0;