@import './vars';

body {
  font-family: $--font-family;
  font-size: $--font-size-base;
  font-weight: $--font-weight-normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

.v-container {
  max-width: 425px;
  margin: 0 auto;
}
