<template>
  <div class="item v-container">
    <ProductListItem
      v-if="product"
      v-model="product.completed"
      :name="product.name"
      :id="product.id"
      :count="product.count"
      :metric="product.metric"
    />
    <div class="comments-wrapper">
      <v-sheet class="comment" v-for="comment in comments" :key="comment.id">
        <v-avatar color="teal"
          ><span class="avatar-letter">{{
            comment.author[0].toUpperCase()
          }}</span></v-avatar
        >
        <div class="comment__text-wrapper">
          <p>{{ comment.title }}</p>
          <p class="comment__subtitle">{{ comment.description }}</p>
        </div>
      </v-sheet>
    </div>
    <div class="input-wrapper">
      <v-textarea
        v-model="newCommentText"
        auto-grow
        :rows="1"
        :row-height="24"
        no-resize
        hide-details
        placeholder="Комментарий..."
        background-color="white"
        outlined
        class="comment__input"
      ></v-textarea>
      <VBtn fab width="36" height="36" color="primary" @click="sendComment">
        <VIcon small>mdi-send</VIcon>
      </VBtn>
    </div>
  </div>
</template>

<script>
import { generateUuid } from "@/utils/uuid";
import ProductListItem from '@/components/ProductListItem.vue';

export default {
  name: "Item",
  components: { ProductListItem },

  mounted() {
    // TODO: тут получить продукт
    this.product = { id: generateUuid(), name: 'Ложжжжжжжжжка', createdAt: new Date(), completed: false, hasInfo: true, metric: 'шт', count: '500' };
  },

  methods: {
    sendComment() {
      this.newCommentText = "";
    },
  },

  data() {
    return {
      newCommentText: "",
      comments: [
        {
          title: "Кабачки!",
          description: "люблю кабачкак я. Закупился бы ими на всю жизнь!!!!!!!",
          author: "Аристарх",
          id: generateUuid(),
        },
        {
          title: "Нраится!",
          description:
            "люблю памела андерсон очень очень, жизнь бы отдал за памела андерсон. Никто так не любит памела андерсон как я. женился бы на ней на всю жизнь!!!!!!!",
          author: "Царь во дворца",
          id: generateUuid(),
        },
        {
          title: "Кабачки!",
          description:
            "люблю кабачки очень очень, жизнь бы отдал за кабачки емаежики. Никто так не любит кабачки как я. Закупился бы ими на всю жизнь!!!!!!!",
          author: "Миша",
          id: generateUuid(),
        },
      ],
      product: null,
    };
  },
};
</script>

<style lang="scss">
.item {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.avatar-letter {
  font-size: 16px;
  color: white;
}

.comments-wrapper {
  margin-top: 28px;
  margin-bottom: 30px;
  overflow-y: auto;

  :last-child {
    margin-bottom: 0;
  }
}

.comment {
  margin-bottom: 20px;
  padding: 12px;
  padding-bottom: 20px;
  display: flex;

  p {
    font-size: 14px;
    margin: 0;
  }

  &__text-wrapper {
    padding-left: 8px;
  }

  &__subtitle {
    color: hsla(0, 0%, 0%, 0.6);
    padding-top: 8px;
  }

  &__input textarea {
    max-height: 60px;
  }
}

.input-wrapper {
  width: 100%;
  margin-top: auto;
  justify-self: flex-end;
  display: flex;
  align-items: center;

  button {
    margin-left: 8px;
  }
}
</style>
