<template>
  <div class="lists-page v-container">
    <div v-if="hasShoppingItems" class="lists-page__list pt-5">
      <VInterpose :separate-rule="$options.createInterposeRule()">
        <ShoppingListItem
          v-for="shoppingItem in normalizedShoppingItems"
          :key="shoppingItem.id"
          :name="shoppingItem.name"
          :completed="shoppingItem.completed"
          :id="shoppingItem.id"
          @share="share(shoppingItem.id, shoppingItem.name)"
          @remove="removeShoppingItem(shoppingItem.id)"
        />

        <template #separator>
          <TextDivider>Завершенные</TextDivider>
        </template>
      </VInterpose>

      <AddShoppingItem @add="addNewShoppingItem" />
    </div>

    <EmptyPage v-else class="mt-10">
      <AddShoppingItem @add="addNewShoppingItem">
        <template #activator="{ attrs, on }">
          <VBtn class="mt-10" block color="primary" v-bind="attrs" v-on="on"
            >Добавить</VBtn
          >
        </template>
      </AddShoppingItem>
    </EmptyPage>
  </div>
</template>

<script>
import ShoppingListItem from "@/components/ShoppingListItem.vue";
import VInterpose from "@/components/VInterpose.vue";
import TextDivider from "@/components/TextDivider.vue";
import AddShoppingItem from "@/components/AddShoppingItem/AddShoppingItem.vue";
import { generateUuid } from "@/utils/uuid";
import LocalStorageSync from "@/components/LocalStorageSync.vue";
import EmptyPage from "@/components/EmptyPage.vue";

const user = localStorage.getItem("dataUser");
const userId = user ? JSON.parse(user).peerId : "";

export default {
  name: "Lists",

  components: {
    ShoppingListItem,
    VInterpose,
    TextDivider,
    AddShoppingItem,
    LocalStorageSync,
    EmptyPage,
  },

  data() {
    return {
      shoppingItems: [],
    };
  },

  computed: {
    normalizedShoppingItems() {
      if (this.myLists.length) {
        return this.myLists.sort((item) => (item.completed ? 1 : -1));
      } return []
    },

    hasShoppingItems() {
      return this.normalizedShoppingItems.length > 0;
    },

    myLists() {
      return this.$store.getters.getAllList
    }
  },

  methods: {
    removeShoppingItem(itemId) {
      this.shoppingItems = this.shoppingItems.filter(
        (item) => item.id !== itemId
      );
    },

    addNewShoppingItem({ name }) {

      this.$store.commit('addMyList', {
        id: generateUuid(),
        name,
        completed: false,
        items: [],
      })
    },

    share(id, listName) {
      navigator.share({
        url: `${window.location}shopping?userId=${userId}&id=${id}&name=${listName}`,
        text: "Комната",
      });
    },

    updateShoppingItems(shoppingItems) {
      this.shoppingItems = shoppingItems.map((item) => ({
        ...item,
        createdAt: new Date(item.createdAt),
      }));
    },
  },

  createInterposeRule() {
    let isFound = false;
    let skip = false;

    return function (item, index) {
      const canDisplay = item.componentOptions.propsData.completed && !isFound;

      if (canDisplay) {
        isFound = true;
        if (index === 0) {
          skip = true;
        }
      }

      if (skip) {
        return false;
      }

      return canDisplay;
    };
  },
};
</script>

<style lang="scss">
.lists-page {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0;

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 8px;
  }
}
</style>
