<template>
  <div class="login v-container">
    <h1 class="login__title">Добро пожаловать!</h1>
    <h2 class="login__sub-title">Покупай с удобством</h2>
    <img class="login__img" src="@/assets/images/image-login.svg" alt="картинка женщины занимающейся покупками" />
    <v-btn class="login__button" block color="primary" :to="registrationRoute">Войти</v-btn>
  </div>
</template>

<script>
import { LISTS } from '@/constants/routerName';

export default {
  name: 'Login',

  computed: {
    registrationRoute() {
      return { name: LISTS };
    },
  },
};
</script>

<style lang="scss">
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__title {
    font-weight: $--font-weight-medium;
    font-size: $--font-size-title;
    line-height: 32px;
  }

  &__sub-title {
    margin-top: 12px;
    font-weight: $--font-weight-normal;
    font-size: $--font-size-subtitle;
    line-height: 20px;
    color: $--color-grey;
  }

  &__img {
    margin-top: 50px;
    width: 100%;
  }

  &__button {
    margin-top: 100px;
  }
}
</style>
