<template>
  <div class="profile v-container">
    <v-avatar color="teal">
      <span class="avatar-text">{{ nameLetter }}</span>
    </v-avatar>
    <VTextField
      v-model="name"
      placeholder="Имя"
      class="profile-input"
      outlined
    />
    <v-btn color="primary" block :disabled="!name" @click="changeName"
      >СОХРАНИТЬ</v-btn
    >
  </div>
</template>

<script>
import { PROFILE } from "@/constants/routerName";
import { getName, changeName } from "@/utils";

export default {
  name: "PROFILE",

  methods: {
    changeName() {
      changeName(this.name);
    },
  },

  data() {
    return {
      name: getName(),
    };
  },

  computed: {
    registrationRoute() {
      return { name: PROFILE };
    },
    nameLetter() {
      return getName()[0].toUpperCase();
    },
  },
};
</script>

<style>
.profile {
  width: 100%;
  padding: 16px;
  padding-bottom: 48px;
  border-radius: 4px;
  background-color: hsla(0, 0%, 100%, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-input {
  width: 100%;
  padding-top: 16px !important;
}

.avatar-text {
  font-size: 16px;
  color: hsla(0, 0%, 100%, 1);
}
</style>
