<template>
  <div class="registration v-container">
    <h1 class="registration__title">Давайте познакомимся</h1>
    <div class="registration__container">
      <VTextField
        v-model="name"
        :rules="nameRules"
        label="Имя"
        required
        class="registration__input"
        outlined
      />
    </div>
    <img
      src="@/assets/images/image-registration.svg"
      class="registration__img"
      alt="картинка идущего мужчины"
    />

    <div class="registration__container registration__button-container">
      <v-btn color="primary" block :disabled="!name" @click="enter"
        >Продолжить</v-btn
      >
    </div>
  </div>
</template>

<script>
import { LISTS } from "@/constants/routerName";
import { initializePeer } from "@/services/peerjs";

export default {
  name: "Registration",
  data() {
    return {
      name: "",
      nameRules: [(v) => !!v || "Это обязательное поле"],
    };
  },
  methods: {
    async saveUser() {
      this.$store.commit('createMe', this.name)
      // await initializePeer(this.name);
    },
    async enter() {
      await this.saveUser();
      this.$router.push({ name: LISTS });
    },
  },
};
</script>

<style lang="scss">
.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  &__title {
    font-weight: $--font-weight-medium;
    font-size: $--font-size-title;
    line-height: 32px;
  }

  &__input {
    margin-top: 60px !important;
    width: 100%;
  }

  &__img {
    margin-top: 55px;
    width: 100%;
  }

  &__container {
    width: 100%;
  }

  &__button-container {
    margin-top: 60px;
  }
}
</style>
