<template>
  <div class="shopping v-container">
    <div v-if="hasProductItems" class="shopping__list pt-5">
      <VInterpose :separate-rule="$options.createInterposeRule()">
        <ProductListItem
          v-for="productItem in normalizedProductItems"
          :value="productItem.completed"
          :key="productItem.id"
          :name="productItem.name"
          :id="productItem.id"
          :has-info="productItem.hasInfo"
          :metric="productItem.metric"
          :count="productItem.count"
          @input="setCompletedStatusById(productItem.id, $event)"
          @remove="remove(productItem.id)"
        />

        <template #separator>
          <TextDivider>Завершенные</TextDivider>
        </template>
      </VInterpose>

      <AddShoppingItem extended @add="addNewShoppingItem" />
      <button @click="testSend">sendTest!!!!</button>
    </div>

    <EmptyPage v-else>
      <AddShoppingItem extended @add="addNewShoppingItem">
        <template #activator="{ attrs, on }">
          <VBtn class="mt-10" color="primary" block v-bind="attrs" v-on="on"
            >Добавить</VBtn
          >
        </template>
      </AddShoppingItem>
    </EmptyPage>
  </div>
</template>
<script>
import ProductListItem from "@/components/ProductListItem.vue";
import VInterpose from "@/components/VInterpose.vue";
import TextDivider from "@/components/TextDivider.vue";
import AddShoppingItem from "@/components/AddShoppingItem/AddShoppingItem.vue";
import { generateUuid } from "@/utils/uuid";
import { connectToDestPeer, sendPeerMessage } from "@/services/peerjs";
import EmptyPage from "@/components/EmptyPage.vue";

export default {
  name: "Shopping",

  components: {
    ProductListItem,
    VInterpose,
    TextDivider,
    AddShoppingItem,
    EmptyPage,
  },

  props: {
    userId: {
      type: String,
      default: "",
    },
    listId: {
      type: String,
      default: "",
    },
  },

  mounted() {
    connectToDestPeer(this.userId).then(() =>
      sendPeerMessage({
        type: "sync",
        userId: this.userId,
        listId: this.listId,
      })
    );
  },

  data() {
    return {
      // productItems: [
      //   {
      //     id: generateUuid(),
      //     name: "Вилка",
      //     createdAt: new Date(),
      //     completed: false,
      //     hasInfo: true,
      //     metric: "кг",
      //     count: "50",
      //   },
      //   {
      //     id: generateUuid(),
      //     name: "Гвоздь",
      //     createdAt: new Date(),
      //     completed: true,
      //     hasInfo: false,
      //     metric: "л",
      //     count: "1",
      //   },
      //   {
      //     id: generateUuid(),
      //     name: "Ложжжжжжжжжка",
      //     createdAt: new Date(),
      //     completed: false,
      //     hasInfo: true,
      //     metric: "шт",
      //     count: "500",
      //   },
      // ],
    };
  },

  computed: {
    normalizedProductItems() {
      return this.productItems.sort((item) => (item.completed ? 1 : -1));
    },

    hasProductItems() {
      return this.productItems?.length > 0;
    },

    productItems() {
      const id = this.$route.query.id
      console.log(id)
      return this.$store.getters.getListById(id)
    }
  },

  methods: {
    remove(id) {
      this.productItems = this.productItems.filter((item) => item.id !== id);
    },

    testSend() {
      console.log("TEST");
      sendPeerMessage({
        type: "sync",
        userId: this.userId,
        listId: this.listId,
      });
    },

    addNewShoppingItem({ name, count, metric }) {
      this.productItems.push({
        id: generateUuid(),
        name,
        createdAt: new Date(),
        completed: false,
        hasInfo: false,
        metric,
        count,
      });
    },

    share(id) {
      navigator.share({
        url: `${window.location}?roomId=${id}`,
        text: "Комната",
      });
    },

    setCompletedStatusById(id, value) {
      this.productItems.find((item) => item.id === id).completed = value;
    },
  },

  createInterposeRule() {
    let isFound = false;
    let skip = false;

    return function (item, index) {
      const canDisplay = item.componentOptions.propsData.value && !isFound;

      if (canDisplay) {
        isFound = true;
        if (index === 0) {
          skip = true;
        }
      }

      if (skip) {
        return false;
      }

      return canDisplay;
    };
  },
};
</script>

<style lang="scss">
.shopping {
  &__list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 8px;
  }
}
</style>
