<template>
  <div class="empty d-flex flex-column align-center">
    <div class="d-flex align-center justify-center">
      <h2 class="text-h6 mr-1">Ничего нет</h2>
      <img src="/images/smile.png" width="18" height="18" alt="" />
    </div>

    <img src="/images/undraw_stars_re_6je7 1.svg" class="mt-5" alt="" width="176" height="129" />

    <slot />
  </div>
</template>
