<template>
  <component :is="layout">
    <RouterView />
  </component>
</template>

<script>
import * as layoutsNames from '@/constants/layouts';
import defaultLayout from '@/layouts/Default.vue';
import loginLayout from '@/layouts/Login.vue';

const LAYOUTS_MAP = {
  [layoutsNames.DEFAULT]: defaultLayout,
  [layoutsNames.LOGIN]: loginLayout,
};

export default {
  name: 'LayoutProvider',

  computed: {
    currentLayoutName() {
      return this.$route.meta.layout || layoutsNames.DEFAULT;
    },

    layout() {
      return LAYOUTS_MAP[this.currentLayoutName];
    },
  },
};
</script>
