<template>
  <div class="product-list-item d-flex align-center">
    <div class="d-flex align-center flex-grow-1">
      <div v-if="hasInfo" class="product-list-item__info-icon"></div>
      <v-checkbox v-model="completed" @click="clickCheckbox"></v-checkbox>
      <RouterLink
        class="product-list-item__meta"
        :class="{ 'product-list-item__meta--completed': completed }"
        :to="{ name: $options.ITEM, query: { id, name } }"
      >
        <div class="product-list-item__meta-text text-body-1">{{ name }}</div>
      </RouterLink>
    </div>
    <div class="d-flex align-center">
      <div v-if="!completed">{{ count }} {{ metric }}</div>
      <div v-else-if="showPrice" @click="hidePrice">{{ price }}₽</div>
      <div v-else>
        <VTextField
          v-model="price"
          class="product-list-item__input"
          suffix="₽"
          type="number"
          ref="inputPrice"
          @blur="setText"
        ></VTextField>
      </div>

      <RemoveDialog activator-class="ml-1" @remove="remove" />
    </div>
  </div>
</template>

<script>
import { ITEM } from '@/constants/routerName';
import RemoveDialog from '@/components/RemoveDialog.vue';

export default {
  name: 'ProductListItem',

  components: { RemoveDialog },

  props: {
    name: { type: String, default: '' },
    id: { type: String, required: true },
    value: { type: Boolean, required: true },
    hasInfo: { type: Boolean, default: false },
    metric: { type: String, default: '' },
    count: { type: String, default: '' },
  },

  data() {
    return {
      completed: false,
      price: '',
      showPrice: true,
    };
  },

  watch: {
    value: {
      handler(newValue) {
        this.completed = newValue;
      },
      immediate: true,
    },
    completed() {
      this.$emit('input', this.completed);
    },
  },

  methods: {
    setText() {
      this.showPrice = true;
    },

    hidePrice() {
      this.showPrice = false;

      this.$nextTick(() => {
        this.$refs.inputPrice.focus();
      });
    },

    remove() {
      this.$emit('remove');
    },

    share() {
      this.$emit('share');
    },
    async clickCheckbox() {
      if (this.completed) {
        this.showPrice = false;
        await this.$nextTick();
        this.$refs.inputPrice.focus();
      }
    },
  },

  ITEM,
};
</script>

<style lang="scss">
.product-list-item {
  height: 60px;
  background: #fff;
  border-radius: 4px;
  padding: 8px 12px;
  border: 1px solid transparent;
  transition: border 0.15s;
  justify-content: space-between;
  position: relative;

  &__info-icon {
    width: 6px;
    height: 6px;
    border-radius: 9px;
    background-color: $--color-blue;
    position: absolute;
    top: 5px;
    right: 5px;
  }

  &__meta {
    text-decoration: none;
    color: unset !important;
    display: block;
    &--completed {
      text-decoration: line-through;
    }
  }

  &__meta-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 175px;
  }

  &__input {
    width: 75px;
    font-weight: 400;
    font-size: 12px !important;
    line-height: 20px;
    color: $--color-grey;
    margin: 0;
    margin-bottom: -5px;

    input {
      text-align: right;
    }
  }
}
</style>
