<template>
  <VDialog v-model="dialogIsOpen">
    <template #activator="{ on, attrs }">
      <VBtn icon :class="activatorClass" v-bind="attrs" v-on="on">
        <VIcon color="error">mdi-close</VIcon>
      </VBtn>
    </template>

    <VCard>
      <VCardTitle>Вы уверены что хотите удалить?</VCardTitle>
      <VCardActions>
        <div class="flex-grow-1">
          <VBtn block text @click="cancel">Не удалять</VBtn>
        </div>
        <div class="flex-grow-1">
          <VBtn block color="error" @click="remove">Удалить</VBtn>
        </div>
      </VCardActions>
    </VCard>
  </VDialog>
</template>

<script>
export default {
  name: 'RemoveDialog',

  props: {
    activatorClass: { type: [String, Object, Array], default: '' },
  },

  data() {
    return {
      dialogIsOpen: false,
    };
  },

  methods: {
    remove() {
      this.$emit('remove');
      this.dialogIsOpen = false;
    },

    cancel() {
      this.dialogIsOpen = false;
    },
  },
};
</script>
