<template>
  <div
    class="shopping-list-item d-flex align-center"
    :class="{ 'shopping-list-item--completed': completed }"
  >
    <RouterLink
      class="shopping-list-item__meta d-flex flex-column flex-grow-1"
      :to="{ name: $options.SHOPPING, query: { id, name } }"
    >
      <div class="text-body-1">{{ name }}</div>
    </RouterLink>

    <div>
      <VScrollXTransition hide-on-leave>
        <VIcon v-if="completed" color="success" class="mr-1">mdi-check</VIcon>
      </VScrollXTransition>

      <VBtn fab width="32" height="32" color="primary" @click="share">
        <VIcon small>mdi-export-variant</VIcon>
      </VBtn>

      <RemoveDialog activator-class="ml-1" @remove="remove" />
    </div>
  </div>
</template>

<script>
import { format } from "@/utils/date";
import { SHOPPING } from "@/constants/routerName";
import RemoveDialog from "@/components/RemoveDialog.vue";

export default {
  name: "ShoppingListItem",

  components: { RemoveDialog },

  props: {
    name: { type: String, default: "" },
    completed: { type: Boolean, default: false },
    id: { type: String, required: true },
  },


  methods: {
    share() {
      this.$emit("share");
    },

    remove() {
      this.$emit("remove");
    },
  },

  SHOPPING,
};
</script>

<style lang="scss">
.shopping-list-item {
  background: #fff;
  border-radius: 4px;
  padding: 8px 12px;
  border: 1px solid transparent;
  transition: border 0.15s;

  &--completed {
    border: 1px solid #4caf50;
  }

  &__meta {
    text-decoration: none;
    color: unset !important;
  }
}
</style>
