<template>
  <div class="text-divider">
    <div class="text-divider__divider"></div>
    <div class="text-divider__content text-caption">
      <slot />
    </div>
  </div>
</template>

<style lang="scss">
.text-divider {
  position: relative;
  height: 20px;
  display: flex;
  align-items: center;

  &__divider {
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.12);
  }

  &__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    padding: 2px 12px;
  }
}
</style>
