<template>
  <v-app>
    <LayoutProvider>
      <RouterView />
    </LayoutProvider>
  </v-app>
</template>

<script>
import LayoutProvider from '@/components/LayoutProvider.vue';

export default {
  name: 'App',

  components: { LayoutProvider },

  data: () => ({
    //
  }),
};
</script>
