<template>
  <div class="default-layout">
    <header class="default-layout__header">
      <div v-if="backRoute" class="default-layout__button-back">
        <v-btn icon :to="backRoute">
          <v-icon color="white">mdi-chevron-left</v-icon>
        </v-btn>
      </div>

      <div class="default-layout__header-text">
        {{ title }}
      </div>
    </header>
    <div class="default-layout__body">
      <RouterView />
    </div>
    <footer class="default-layout__footer">
      <v-bottom-navigation
        class="default-layout__menu"
        v-model="selectMenu"
        color="primary"
        shift
      >
        <v-btn value="profile" :to="profileRoute">
          <span>Профиль</span>

          <v-icon>mdi-account</v-icon>
        </v-btn>

        <v-btn value="lists" :to="'/'">
          <span>Покупки</span>

          <v-icon>mdi-cart</v-icon>
        </v-btn>
      </v-bottom-navigation>
    </footer>
  </div>
</template>

<script>
import * as routerNames from "../constants/routerName";

export default {
  name: 'DefaultLayout',
  data() {
    return {
      selectMenu: 'profile',
      title: 'Покупки'
    };
  },

  computed: {
    profileRoute() {
      return routerNames.PROFILE;
    },
    backRoute() {
      return this.$route.meta.backRoute;
    },
  },

  watch: {
    '$route.query.name': function(newValue) {
      if (newValue) {
        this.title = newValue;

      } else {
        this.title = 'Покупки';
      }
    },
  }
};
</script>

<style lang="scss">
.default-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;

  &__header {
    width: 100%;
    max-width: 720px;
    height: 60px;
    background-color: $--color-blue;
    padding-left: 46px;
    padding-right: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  &__header-text {
    font-weight: $--font-weight-medium;
    font-size: $--font-size-title;
    line-height: 32px;
    color: $--color-white;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  &__button-back {
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translate(0, -50%);
  }
  &__body {
    background: $--layout-background;
    width: 100%;
    max-width: 720px;
    height: 100%;
    max-height: calc(100vh - 120px);
    overflow: auto;
    padding: 20px;
  }
  &__footer {
    width: 100%;
    max-width: 720px;
    height: 60px;
  }

  &__menu {
    height: 60px;
    .theme--light.v-btn.v-btn--has-bg {
      background-color: transparent;
    }
    .v-btn:not(.v-btn--round).v-size--default {
      height: inherit;
    }
  }
}
</style>
