<template>
  <div class="login-layout">
    <RouterView />
  </div>
</template>

<script>
export default {
  name: 'loginLayout',
};
</script>

<style lang="scss">
.login-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 32px;
  height: 100%;
}
</style>
